@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  background-color: rgb(0, 0, 0);
}

.cabeçalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.img-cabeçalho {
  height: 70px;
}

.menu-cabeçalho {
  display: flex;
  gap: 50px;
}

.menu-cabeçalho-item {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 19px;
}

.nome {
  color: #00ffff;
}

.btn-contato {
  width: 180px;
  height: 33px;
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  background-color: #00ffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 19px;
  cursor: pointer;
}

.btn-contato:hover {
  color: rgb(0, 0, 0);
  background-color: #19A7CE;
  transition: 0.5s;
}

.conteudo {
  border-top: 0.4px solid #00ffff;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 50px 150px 50px 150px;
}

.div-conteudo-principal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.titulo {
  font-weight: 500;
  font-size: 38px;
  color: rgb(255, 255, 255);
}

.subtitulo {
  font-weight: 300;
  font-size: 21px;
  color: rgb(255, 255, 255);
}

.conteudo-redes {
  display: flex;
  gap: 15px;
}

.img-redes {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
}

.img-perfil {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.linha {
  border-top: 0.4px solid #00ffff;
}

.conteudo-secundario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 50px 150px 50px 150px;
}

.div-conteudo-secundario {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 30px;
}

.titulo-secundario {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 38px;
  color: #00ffff;
}

.subtitulo-secundario {
  display: flex;
  font-weight: 300;
  font-size: 21px;
  color: rgb(255, 255, 255);
}




footer .img-rodape {
  display: flex;
  justify-content: space-around;
  border-top: 0.4px solid #00ffff;
  padding: 20px;
  height: 110px;
}