@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 100%;
  background-color: rgb(0, 0, 0);
}

.cabeçalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.img-cabeçalho {
  height: 70px;
}

.menu-cabeçalho {
  display: flex;
  gap: 40px;
}

.menu-cabeçalho-item {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 20px;
}

.menu-cabeçalho-item:hover {
  color: #00ffff;
}

.nome {
  color: #00ffff;
}

.btn-projetos {
  width: 180px;
  height: 33px;
  border-radius: 15px;
  color: #00ffff;
  background-color: black;
  border: 2px solid #00ffff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.btn-projetos:hover {
  color: rgb(0, 0, 0);
  background-color: #00ffff;
  transition: 0.4s;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.4px solid #00ffff;
  background-color: rgb(0, 0, 0);
  gap: 75px;
  padding: 75px 0 75px 0;
}

.conteudo-principal, .conteudo-secundario{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.div-conteudo-principal {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.titulo {
  font-weight: 500;
  font-size: 35px;
  color: rgb(255, 255, 255);
}

.subtitulo, .subtitulo-secundario {
  display: flex;
  font-weight: 300;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.conteudo-redes {
  display: flex;
  gap: 15px;
}

.img-redes {
  width: 35px;
  height: 35px;
  display: flex;
  cursor: pointer;
}

.img-perfil {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.linha {
  border-top: 0.4px solid #00ffff;
}

.div-conteudo-secundario {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.titulo-secundario {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 35px;
  color: black;
  background-color: #0fffff;
}

.conteudo-linguagem {
  display: flex;
  gap: 15px;
}

.img-linguagem {
  width: 35px;
  height: 35px;
  display: flex;
  cursor: pointer;
}

.carreira-educaçao, .carreira-cursos, .carreira-skills, .carreira-idiomas, .carreira-competencias, .projetos {
  display: inline;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.div-carreira-educaçao, .div-carreira-cursos, .div-carreira-skills, .div-carreira-idiomas, .div-carreira-competencias, .div-projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.titulo-educaçao, .titulo-educaçao, .titulo-cursos, .titulo-skills, .titulo-idiomas, .titulo-competencias, .titulo-projetos {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 35px;
  width: 100%;
  color: black;
  background-color: #00ffff;
}

.info-educaçao, .info-cursos, .info-idiomas, .info-competencias, .info-skills, .info-projetos {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  color: white;
  width: 100%;
}

.info-educaçao li, .info-cursos li, .info-idiomas li, .info-competencias li, .info-projetos li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31.45%;
}

.info-skills li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22.88%;
}

.info-carreira-titulo, .info-projetos-titulo {
  font-weight: 500;
  font-size: 22px;
}

.info-carreira-subtitulo, .info-projetos-subtitulo {
  font-weight: 200;
  font-weight: 15px;
}

.info-carreira-mais, .link-github {
  font-weight: 200;
  font-size: 12px;
}

.link-github {
  color: #00ffff;
}

.img-rodape {
  display: flex;
  justify-content: center;
  height: 70px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-top: 0.4px solid #00ffff;
}